*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    width: 528px;
    margin: 50px auto;
    flex-wrap: wrap;
}

#container div{
    border: 1px solid red;
    width: 25px;
    height: 25px;
    margin: 1px;
}